<div class="d-flex justify-content-end m-3">
    <a href="/?metOrder=title&order=asc&limit=100" class="btn btn-primary m-auto" id="btnTitle">Order By Name Ascendent</a>
    <a href="/?metOrder=title&order=desc&limit=100" class="btn btn-primary m-auto" id="btnTitle">Order By Name Descendent</a>
    <a href="/?metOrder=price&order=desc&limit=100" class="btn btn-primary m-auto">Order By Price</a>
    <a href="/?metOrder=year&order=asc&limit=100" class="btn btn-primary m-auto">Order By Year</a>
</div>
<h2 class="text-center fs-1 m-3">Our products:</h2>
<div class="d-flex flex-wrap justify-content-around">
    {{#each products.docs}}
    <div class="card" >
        <div class="card-body">
            <div class="d-flex mb-3 justify-content-between">
                <div class="w-50">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text m-0">Autor: {{autor}}</p>
                    <p class="card-text">Year: {{year}}</p>
                </div>
                <div class="w-50 d-flex justify-content-end">
                    <img src="{{thumbnails}}" class="card-img-top imagen" alt="">
                </div>
            </div>
            <a href="/product/{{_id}}" class="btn btn-primary m-auto">View more</a>
        </div>
    </div>
    {{/each}}
</div>
<!--Paginacion-->
<nav aria-label="Page Navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {{#if products.hasPrevPage}}
        <li class="page-item">
            <a class="page-link" href="?page={{products.prevPage}}" arial-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {{/if}}
        {{#each products.pageNumbers}}
        <li class="page-item {{#if this.isCurrent}}active {{/if}}">
            <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
        </li>
        {{/each}}
        {{#if products.hasNextPage}}
        <li class="page-item">
            <a class="page-link" href="?page={{products.nextPage}}&limit={{products.limit}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {{/if}}
    </ul>
</nav>
