<h2 class="text-center m-4">Your next purchase:</h2>

<div class="m-auto individual" >
    <div class="card-body">
        <h5 class="card-title text-center mb-2">{{product.title}}</h5>
        <hr/>
        <div class="d-flex justify-content-between p-3">
            <div>
                <p class="card-text">Autor: {{product.autor}}</p>
                <p class="card-text">Genere: {{product.genere}}</p>
                <p class="card-text">Year: {{product.year}}</p>
            </div>
            <div>
                <img src="{{product.thumbnails}}" class="card-img-top imagen" alt="">
            </div>
        </div>
        <hr/>
        <div class="d-flex justify-content-between p-3">
            <p class="card-text">Price:${{product.price}}</p>
            <p class="card-text">Stock available: {{product.stock}}</p>
        </div>
        <form id="addToCart" action="" class="d-flex flex-column w-50 m-auto">
            <label for="quantity" class="m-auto">Quantity</label>
            <input type="number" name="quantity" class="m-auto mt-3 mb-3 w-25" min="1" max="{{product.stock}}" required>
            <label for="product_id" class="m-auto">Product ID:</label>
            <input type="text" name="product_id" class="m-auto mt-3 mb-3 w-100 text-center" value="{{product._id}}"readonly>
            <button type="submit" class="btn btn-primary">Add to cart!</button>
        </form>
        
    </div>
</div>